[Unit]
Description=Selene First Boot Setup
After=local-fs.target
Before=greetd.service
ConditionPathExists=!/var/lib/selene/.firstboot-done

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/first-boot.sh

[Install]
WantedBy=multi-user.target
